*

!.github/alpha.gif
!.github/animated_terminal.gif
!.github/colored_background.png

!data/02.gif
!data/alpha.gif
!data/code_doge.gif

!.gitignore
!CMakeLists.txt
!main.c
!makefile
!pterm.h
!readme.md
!stb_image_resize.h
!stb_image.h
